body, html {
    display: flex;
    justify-content: center;
    height: 100%;
}
.btns, .computer, .result { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.result { 
    padding-bottom: 100px;
}
