body, html {
    display: flex;
    justify-content: center;
    height: 75%;
}
#btns, #computer, #result { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#result { 
    min-width: 323px;
}
